# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.egg-info/

# Node / React
node_modules/
dist/
.next/

# DB
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

backend/uploads/
*.txt

