# Copy this to .env and fill in your values
# DO NOT commit .env to GitHub

FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=your_super_secret_key_here

# PostgreSQL
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/cyber_platform

# API Keys
VIRUSTOTAL_API_KEY=your_virustotal_api_key
ABUSEIPDB_API_KEY=your_abuseipdb_api_key

# Redis (for Celery)
REDIS_URL=redis://localhost:6379/0

# Monitoring
MONITOR_PATH=/home/kali/monitored_folder
JWT_SECRET_KEY=your_jwt_secret_here
